.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.project-img-container {
  position: relative;
}

.project-image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.overlay-text-container {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: .7rem;
  box-sizing: border-box
}

.overlay-img-text {
  color: white;
  width: 100%;
  font-weight: 600;
  font-size: 1.3rem;
}

.overlay-link-container {
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 1rem;
  opacity: 0;
}

.project-img-container:hover .overlay-link-container {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-img-container:hover .project-image {
  filter: brightness(.8);
  transition: filter 0.3s ease;
}

.overlay-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .4rem;
  text-decoration: none;
  padding: .5rem .9rem;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: .6rem;
  color: #fff;
  font-weight: 500;
  font-size: .9rem;
} 

.overlay-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease;
}

.project-info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .8rem;
}

.project-description {
  font-size: .85rem;
  font-weight: 200;
  padding: .5rem 0;
  opacity: .9;
}

.project-technologies {
  font-size: .9rem;
  font-weight: 200;
}

.project-technologies span {
  font-weight: 700;
}