.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.project-img-container {
  position: relative;
}

.project-image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.overlay-text-container {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: .7rem;
  box-sizing: border-box
}

.overlay-img-text {
  color: white;
  width: 100%;
  font-weight: 600;
  font-size: 1.3rem;
}

.overlay-link-container {
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 1rem;
  opacity: 0;
}

.project-img-container:hover .overlay-link-container {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-img-container:hover .project-image {
  filter: brightness(.8);
  transition: filter 0.3s ease;
}

.overlay-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .4rem;
  text-decoration: none;
  padding: .5rem .9rem;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: .6rem;
  color: #fff;
  font-weight: 500;
} 

.overlay-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease;
}

.project-info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .8rem;
}

.project-description {
  font-size: .9rem;
  font-weight: 200;
  padding: .5rem 0;
  opacity: .9;
}

.project-technologies {
  font-size: .9rem;
  font-weight: 200;
}

.project-technologies span {
  font-weight: 700;
}

@media (max-width: 978px) {
  .project-card {
    flex-direction: row;
    gap: 1rem;
  }

  .project-img-container {
    flex: 2;
  }

  .project-info-container {
    flex: 3;
  }

  .overlay-img-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 783px) {
  .project-img-container {
    flex: 4;
  }

  .project-info-container {
    flex: 5;
  }
}

@media (max-width: 720px) {
  .project-card:hover .overlay-link-container {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .project-card:hover .project-image {
    filter: brightness(.8);
    transition: filter 0.3s ease;
  }

  .overlay-link {
    padding: .6rem 1rem;
  }

  .overlay-link p {
    font-size: 1.3rem;
  }

  .overlay-link svg {
    font-size: 1.3rem;
  }
}

@media (max-width: 576px) {

  .project-card {
    flex-direction: column;
  }

  .overlay-text-container {
    padding: 1rem;
  }

  .overlay-text-container h3 {
    font-size: 2rem;
  }

  .overlay-link {
    padding: .8rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .overlay-text-container h3 {
    font-size: 1.8rem;
  }
}