.layout {
  overflow: hidden;
  display: grid;
  grid: "navbar body";
  grid-template-columns: 20% 80%;
}

.body {
  grid-area: body;
}

main {
  background-color: #0f172a;
  padding: 8rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
} 
