.home-contact {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.home-contact-list {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.home-contact h3 {
  font-size: 1.4rem;
  margin-bottom: .8rem;
}

.copy-button {
  background-color: transparent;
  border: none;
}

.copy-icon {
  color: #fff;
}

.home-contact-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem
}