.home-contact {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.home-contact-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.home-contact h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.home-contact-mail {
  gap: 0.2rem;
  padding: .3rem 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

.home-contact-mail p {
  color: #0f172a;
}

.copy-button {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .4rem;
  border: none;
  padding: 0.2rem;
}

.copy-button:hover {
  cursor: pointer;
}

.copy-icon {
  color: #0f172a;
  height: 90%;
  width: 90%;
}

.home-contact-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
