.accordion-header {
  padding: 1.1rem;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0a0f1b;
}

.accordion-header p {
  font-size: 1.2rem;
}

.accordion-header:hover {
  font-weight: 600;
  transition: .2s ease;
}

.dropdown-icon {
  font-size: 1.5rem;
}

.accordion-content {
  padding: 1.3rem 1.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .8rem;
  background-color: rgba(255, 255, 255, .04)
}

.company h4 {
  font-weight: 600;
}

.company p {
  font-size: .8rem;
  margin-bottom: .5rem;
  opacity: .6;
}

.responsabilities {
  color: #fff;
  opacity: .9;
  margin-left: 1rem;
}

.responsabilities li {
  list-style-type: disc;
  font-size: 1rem;
}