.accordion-header {
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}

.dropdown-icon {
  font-size: 1.5rem;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-content {
  padding: .4rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .8rem;
}

.company h4 {
  font-weight: 600;
}

.company p {
  font-size: .8rem;
  margin-bottom: .5rem;
  opacity: .6;
}

.responsabilities {
  color: #fff;
  opacity: .9;
}

.responsabilities li {
  list-style-type: disc;
  font-size: 1rem;
}