.work-experience-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.work-experience-container h2 {
  font-size: 1.8rem;
  text-align: center;
  margin: .2rem 0 3rem;
  font-weight: 600;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}