.work-experience-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.6rem;
  padding-top: 2rem;
}

.work-experience-container h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-top: .2rem;
  font-weight: 500;
  padding: 0 2rem;
  word-break: break-word;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: 2rem;
}

.cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

.cv-container p {
  font-size: 1.14rem;
}
