.about-me-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
  "presentation presentation"
  "intro skills";
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 60% 40%;
  gap: 1rem
}

.presentation-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-area: presentation;
}

.intro-container {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 2rem;
  background-color: rgba(255, 255, 255, .1);
}

.intro h4 {
  margin-bottom: .6rem;
}

.intro p {
  line-height: 1.5rem;
  margin-bottom: .6rem;
}

.skills-container {
  grid-area: skills;
}