header {
  background-color: #0f172a;
  position: fixed;
  height: 7.7rem;
  width: 80vw;
  z-index: 52;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1.3rem;
}

header::after {
  content: '';
  display: block;
  width: 80%;
  border: 1px solid #fff;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 978px) {
  header {
    width: calc(100vw - 195px);
  }
}

@media (max-width: 830px) {
  header {
    width: calc(100vw - 170px);
  }
}

@media (max-width: 720px) {
  header {
    width: 100%;
  }
}