header {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: header;
}

header::after {
  content: '';
  display: block;
  width: 80%;
  border: 1px solid #fff;
  margin-left: auto;
  margin-right: auto;
}