footer {
  background-color: #0f172a;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 1.6rem;
}

footer p {
  font-size: .7rem;
}
