.navbar-container {
  display: flex;
  height: 100vh;
  width: 20vw;
  flex-direction: column;
  position: fixed;
  background-color: #1d2a47;
  z-index: 924;
}

.navbar-profile-img {
  width: 100%;
  height: 100%;
  height: 16rem;
  object-fit: cover;
  aspect-ratio: 1;
}

@media (max-width: 978px) {
  .navbar-container {
    width: 195px;
  }
}