* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  height: 100%;
  display: grid;
  grid:
    "header" 70px
    "main" 1fr
    "footer" auto
    / 1fr;
}