.about-me-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "presentation presentation"
    "intro skills";
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
  padding-top: 1rem;
}

.presentation-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  grid-area: presentation;
  padding-bottom: 1.6rem;
}

.intro-container {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 2rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.about-me-container h4 {
  margin-bottom: 0.8rem;
}

.intro p {
  line-height: 1.5rem;
  margin-bottom: 0.7rem;
  font-size: 1rem;
}

.skills-container {
  grid-area: skills;
  text-align: end;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.6rem 2rem;
}

.skills-list {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  gap: 0.2rem;
}

.skills-title {
  font-size: 0.73rem;
  font-weight: 200;
  text-transform: uppercase;
  padding-bottom: 0.2rem;
  opacity: 0.8;
}

.skills {
  font-size: 0.85rem;
}

.skills:last-child {
  margin-bottom: 0.6rem;
}

@media (max-width: 928px) {
  .skills-list {
    justify-content: space-evenly;
  }
}
